@import "../fonts/Inter/Inter";

body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  background: #8E8C99;
}

* {
  box-sizing: border-box;
}

.container-bot {
  max-width: 768px;
  margin: 0 auto;
}